@import "tailwindcss";


:root {
  --background: #ffffff;
  --blackground: #111213;
  --font-urbanist: var(--font-urbanist);
  --font-oi: var(--font-oi);
  --black-color: #0e0e0e;
  --white-color: #dcd9de;
  --gray-color: #827989;
  --red-color: #992028;
  --soft-red: #c53a3a;
}

.row {
  display: grid;
  gap: 12px;
  width: 100%;
  height: 95%;
}

.item {
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: 0 0 5px #202225c3;
  border-radius: 8px;
  background-color: #202225f0;
  border: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: scroll;
}

.drag-handle {
  background: #33353b;
  padding: 4px;
  cursor: grab;
  width: 100%;
  user-select: none;
  text-align: center;
}
.drag-handle:active {
  cursor: grabbing;
}

.item:active {
  cursor: grabbing;
}

.black-shadow{
  position: absolute;
  top: -2px;
  right: -5px;
  width: 10px;
  height: 100px;
  background: linear-gradient(150deg, #202225, #20222517);
  filter: blur(0.5px);
  opacity: 1;
}

/* --------------tasks-------- */

.task-box{
  width: 100%;
  min-height: 9rem;
  max-height: 15rem;
  height: fit-content;
  position: relative; 
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-color: #595fb12b;
  border: 1px solid #505490;
  border-radius: 8px;
  padding: 0.8rem;
  padding-bottom: 1.2rem;
}

.task-box button{
  position: absolute;
  bottom: -20px;
  left: 16px;
  cursor: pointer;
  height: 32px;
  width: 60px;
  background-color: #434767;
  border: 1px solid #595FB1;
  border-radius: 13px;
  color: #b9bbe2;
}

.task-box h5{
  font-size: 15.9px;
  font-weight: 500;
  color: #9d9fbec4;
}

.task-box h4{
  width: 100%;
  font-size: 19px;
  color: #e3e2e2e0;
  margin-top: 4px;
  margin-bottom: 6px;
}

.task-box span{
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 8px;
  text-align: center;
  color: #e3e2e2e0;
  background-color: #8e91bc4a;
  position: absolute;
  right: 8px;
  top: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.task-box p{
  font-size: 15.4px;
  font-weight: 500;
  color: #c0c2d7e3;
  text-align: justify;
  width: 100%;
  overflow: scroll;
}

.task-box-green{
  background-color: #59b1632b;
  border: 1px solid #4b8056;
  border-radius: 8px;
  padding: 0.8rem;
  padding-bottom: 1.2rem;
}

.task-box-green span{
  background-color: #90bf8a4a;
}

.task-box-green p{
  color: #c7d7c0da;
}

.task-box-green h5{
  color: #a3be9dc4;
}

.task-box-green button{
  background-color: #365337;
  border: 1px solid #4b8056;
}

/* ------------Calendar--------- */


@layer utilities {
  .glass-dark {
    backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
    border-top: 1px solid #3B3440;
    border-bottom: 1px solid #3B3440;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
  }
  .glass-dark-all-borders {
    backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid #3B3440;
  }

  .link{
    padding: 0.4rem 1.1rem;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--background);
    color: var(--blackground);
    font-weight: 500;
    font-size: 17px;
  }
  .link:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(250,250,250,0.4);
  }
  .blur-window-big{
    position: absolute;
    bottom: -15%;
    left: 10;
    width: 100%;
    height: 350px;
    background: linear-gradient(150deg, #eb6f6f, #8448ac);
    filter: blur(100px);
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
    animation: rise-up 3s ease-out forwards;
  }

  @keyframes rise-up {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .second-blur-window-big {
    position: absolute;
    top: 0;
    left: -100%;
    top: -50%;
    width: 70%;
    height: 100%;
    background: linear-gradient(150deg, #eb9a6f, #ac489d);
    filter: blur(100px);
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
    animation: run-right 3s ease-out forwards;
  }
  
  @keyframes run-right {
    from {
      opacity: 0;
      left: -80%;
      top: -50%;
      width: 70%;
    }
    to {
      opacity: 1;
      left: 0%;
      top: 65%;
      width: 100%;
    }
  }
  .star{
    position: absolute;
    top: -5%;
    left: 10%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(150deg, #c765b1, #ecbfbe);
    filter: blur(10px);
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
  
    animation: fall 11s linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    58%{
      opacity: 0.9;
    }
    100% {
      transform: translateY(115vh);
      opacity: 0.2;
    }
  }
  
  .star-bottom{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(150deg, #B66874, #FFFFFF);
    filter: blur(10px);
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  
    animation: up 11s linear infinite;
  }
  @keyframes up {
    0% {
      bottom: 0;
    }
    58%{
      opacity: 0.9;
    }
    100% {
      bottom: 100%;
      opacity: 0.1;
    }
  }

  .lovr-color{
    background-image: linear-gradient(160deg, #eb6f6f, #8448ac);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .register-color{
    background-image: linear-gradient(to bottom, #ffffffbc, #efaed97d);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

  }
  
  .input-styles{
    outline: none;
    border: 2px solid #3B3440;
    border-radius: 1rem;
    padding: 12px;
    backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid #3B3440;
    color: var(--white-color);
    font-weight: 400;
    font-size: 17px;
    transition: all 0.3s ease 0s;
    width: 100%;
    margin-bottom: 1.75rem;
    background-color: rgba(0, 0, 0, 0.58);
  }
  .input-styles:focus{
    background-color: var(--background);
    color: var(--blackground);
  }

  .side-button{
    color: #dcd9de6a;
    font-size: 19px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transition: all 0.3s ease 0s;
  }

  .button-active{
    color: #dcd9de;
    background-color: #595fb1a8;
    box-shadow: 0 0 12px #595fb164;
  }

  .side-button:hover{
    color: #dcd9de;
    background-color: #595fb1a8;
    box-shadow: 0 0 12px #595fb164;
  }

  .button-active:hover{
    color: #dcd9de;
    background-color: #595fb176;
    transform: scale(0.9);
    box-shadow: 0 0 12px #595fb164;
  }

  .task-circle{
    border-radius: 50%;
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    right: 0;
    box-shadow: -10px 0 5px #202225;
    transition: all 0.3s ease 0s;
  }

  .task-status-zero{
    border: 2px solid #d6d6d6bc;
    background-color: #ffffff22;
  }
  .task-status-one{
    background-color: #b19e59;
    color: #665d3c
  }
  .task-status-two{
    background-color: #b15959;
    color: #732626
  }
  .task-status-three{
    background-color: #595FB1;
    color: #2b3077;
    transform: rotate(45deg);
  }
  .task-status-four{
    background-color: #599bb1;
    color: #255160;

  }
}


body {
  font-family: var(--font-urbanist);
  background-color: var(--blackground);
  color: var(--white-color);
}