@import "tailwindcss";


:root {
  --background: #ffffff;
  --blackground: #111213;
  --font-urbanist: var(--font-urbanist);
  --font-oi: var(--font-oi);
  --black-color: #0e0e0e;
  --white-color: #dcd9de;
  --gray-color: #827989;
  --red-color: #992028;
  --soft-red: #c53a3a;
}

@layer utilities {
  .glass-dark {
    backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
    border-top: 1px solid #3B3440;
    border-bottom: 1px solid #3B3440;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
  }
  .glass-dark-all-borders {
    backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid #3B3440;
  }

  .link{
    padding: 0.4rem 1.1rem;
    border-radius: 0.8rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--background);
    color: var(--blackground);
    font-weight: 500;
    font-size: 17px;
  }
  .link:hover{
    transform: scale(1.1);
    box-shadow: 0 0 12px rgba(250,250,250,0.4);
  }
  .blur-window-big{
    position: absolute;
    bottom: -15%;
    left: 10;
    width: 100%;
    height: 350px;
    background: linear-gradient(150deg, #eb6f6f, #8448ac);
    filter: blur(100px);
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
    animation: rise-up 3s ease-out forwards;
  }

  @keyframes rise-up {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .second-blur-window-big {
    position: absolute;
    top: 0;
    left: -100%;
    top: -50%;
    width: 70%;
    height: 100%;
    background: linear-gradient(150deg, #eb9a6f, #ac489d);
    filter: blur(100px);
    opacity: 0.6;
    z-index: -1;
    pointer-events: none;
    animation: run-right 3s ease-out forwards;
  }
  
  @keyframes run-right {
    from {
      opacity: 0;
      left: -80%;
      top: -50%;
      width: 70%;
    }
    to {
      opacity: 1;
      left: 0%;
      top: 65%;
      width: 100%;
    }
  }
  .star{
    position: absolute;
    top: -5%;
    left: 10%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(150deg, #c765b1, #ecbfbe);
    filter: blur(10px);
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
  
    animation: fall 11s linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    58%{
      opacity: 0.9;
    }
    100% {
      transform: translateY(115vh);
      opacity: 0.2;
    }
  }
  
  .star-bottom{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(150deg, #B66874, #FFFFFF);
    filter: blur(10px);
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  
    animation: up 11s linear infinite;
  }
  @keyframes up {
    0% {
      bottom: 0;
    }
    58%{
      opacity: 0.9;
    }
    100% {
      bottom: 100%;
      opacity: 0.1;
    }
  }

  .lovr-color{
    background-image: linear-gradient(160deg, #eb6f6f, #8448ac);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .register-color{
    background-image: linear-gradient(to bottom, #ffffffbc, #efaed97d);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

  }
  
  .input-styles{
    outline: none;
    border: 2px solid #3B3440;
    border-radius: 1rem;
    padding: 12px;
    backdrop-filter: blur(12px) saturate(180%);
   -webkit-backdrop-filter: blur(12px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid #3B3440;
    color: var(--white-color);
    font-weight: 400;
    font-size: 17px;
    transition: all 0.3s ease 0s;
    width: 100%;
    margin-bottom: 1.75rem;
    background-color: rgba(0, 0, 0, 0.58);
  }
  .input-styles:focus{
    background-color: var(--background);
    color: var(--blackground);
  }

  .side-button{
    color: #dcd9de6a;
    font-size: 24px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transition: all 0.3s ease 0s;
    background-color: #dcd9de1b;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
  }

  .side-button:hover{
    color: #dcd9de;
    background-color: #595fb1c1;
    box-shadow: 0 0 12px rgba(250,250,250,0.3);
  }

  .task-circle{
    border-radius: 50%;
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    right: 0;
    box-shadow: -10px 0 5px #202225;
    transition: all 0.3s ease 0s;
  }

  .task-status-zero{
    border: 2px solid #d6d6d6bc;
    background-color: #ffffff22;
  }
  .task-status-one{
    background-color: #b19e59;
    color: #665d3c
  }
  .task-status-two{
    background-color: #b15959;
    color: #732626
  }
  .task-status-three{
    background-color: #595FB1;
    color: #2b3077;
    transform: rotate(45deg);
  }
  .task-status-four{
    background-color: #599bb1;
    color: #255160;

  }
}




body {
  font-family: var(--font-urbanist);
  background-color: var(--blackground);
  color: var(--white-color);
}